{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block body %}
{% csrf_token %}

<div class="container">
    <p>Howdy!</p>
    <p>{{ message }}</p>
    <a id='send' class='btn btn-primary'>Post This To Channel</a>
</div>

{% endblock %}
{% block scripts %}
<script type="application/javascript">
    $(function() {
        $('#send').click(
                function() {
                    $.post(
                        "{% url 'post_message' %}",
                        {
                            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                            message: `{{message}}`
                        }
                    )
                }
        );
    });
</script>
{% endblock %}
