{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block body %}
{% csrf_token %}

<div class="container">
    <p>Howdy!</p>
    <p>{{ message }}</p>
    <a id='sendSlack' class='btn btn-primary'>Post This To Slack Channel</a>
    {% if discord_allowed %}
        <a id='sendDiscord' class='btn btn-primary'>Post This To Discord Channel</a>
    {% endif %}

</div>

{% endblock %}
{% block scripts %}
<script type="application/javascript">
    $(function() {
        var messageRequestBody = {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            message: `{{message}}`
        };
        $('#sendDiscord').click(function() {$.post("{% url 'post_message_discord' %}", messageRequestBody)});
        $('#sendSlack').click(function() {$.post("{% url 'post_message' %}", messageRequestBody)});
    });
</script>
{% endblock %}
